@import './../../../../styles.scss';

.waiting {
  color: $color-label;
}

.confirmed {
  color: #40C057;
}

.canceled {
  color: #E42C64;
}

.button-confirm {
  background-color: #40C057;
  color: #fff;
}

.button-cancel {
  background-color: #E42C64;
  color: #fff;
}

.btn-toggle-details {
  background: transparent;
  outline: none;
  border: none;
  width: auto;
  height: auto;
  position: absolute;
  right: -8px;
  top: -14px;
  color: $color-label;
}

.schedule {
  border: 1px solid lighten($color-label, 30%);
  padding: 1.3rem 1.3rem 1.3rem .8rem;
  border-radius: 5px;
  color: $color-text;
  margin-bottom: 1rem;
  transition: all .5s ease-in-out;

  &__header,
  &__body {
    label {
      color: #6F7885;
      font-weight: 300;
      display: inline-block;
      margin-bottom: .5rem;
    }

    p  {
      margin-bottom: 0;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    position: relative;

    .period-time {
      display: flex;
      flex-direction: column;
      margin-left: .5rem;

      strong {
        font-size: 2rem;
        line-height: 1;
      }

      span {
        display: flex;
        align-items: center;
      }

      small {
        font-size: 1.3rem;
        color: $color-label;
        margin-right: 3px;
      }
    }

    .room-color {
      width: 6px !important;
      height: 60px;
      position: absolute;
      left: -13px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    .actions {
      label {
        display: block;
      }
    }
  }

  &__body {
    display: flex;
    transition: all .3s ease-in-out;
    border-top: 1px solid lighten($color-label, 30%);
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    margin-left: .5rem;

    .schedule-data {
      display: flex;
      margin-bottom: 1rem;
    }

    .schedule-contact,
    .schedule-cpf,
    .schedule-date-cancellation {
      margin-right: 4rem;
    }
  }
}

.schedules-message {
  text-align: center;

  img {
    width: 250px;
  }

  p {
    margin: 1.5rem 0;
    color: $color-label;
    font-weight: 300;
  }
}

.select-date {
  display: flex;
  flex-direction: column;

  label {
    color: #6F7885;
    font-weight: 300;
    display: inline-block;
    margin-bottom: 0;
  }
}
