<!-- menu provisório -->
<nav class="header-menu shadow-sm mb-5">
  <div class="container-fluid">
    <div class="header-menu__top">
      <a class="header-menu__logo" routerLink="/dashboard">
        <img src="../../../../assets/images/logo-studios_2x.png" alt="logo-studios">
      </a>
      <span>
        <a routerLink="/logout" class="btn btn-outline-danger btn-sm text-uppercase">Sair</a>
      </span>
    </div>
    <div class="header-menu__nav">
      <ul>
        <li>
          <a routerLink="/dashboard" routerLinkActive="active">Agendamentos</a>
        </li>
        <li>
          <a routerLink="/salas" routerLinkActive="active">Salas de Ensaio</a>
        </li>
        <li>
          <a routerLink="/configuracoes" routerLinkActive="active">Configurações</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="d-none d-xl-block col-xl-3">
      <div class="content-box content-calendar shadow-sm p-3">
        <div class="content-calendar__today">
          <h1 class="mb-5">Ensaios Hoje</h1>
          <div *ngIf="!hasSchedules">
            <div class="schedules-message">
              <img src="./../../../../assets/images/found.svg">
              <p>{{ scheduleMessage }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-9">
      <div class="content-box shadow-sm p-3">
        <div class="content-box__header">
          <h1>Agendamentos</h1>
        </div>
        <div class="content-box__info">
          <p>{{ day }}, 06 de Novembro de 2019</p>
        </div>
        <div class="content-box__body">
          <div class="alert alert-warning" *ngIf="!studioHasCityId">
            <p>Bem-vindo ao <strong><em>Studios</em></strong>,</p>
            <p>Você precisa atualizar os dados do seu estúdio para ser vistos pelos usuários.</p>
            <a routerLink="/configuracoes" class="btn btn-primary">Atualizar meus dados</a>
          </div>
          <div *ngIf="hasSchedules">
            <div class="schedule" *ngFor="let schedule of schedules">
              <div class="schedule__header">
                <div class="room-color" [ngStyle]="{backgroundColor: schedule.color }">
                </div>
                <div class="period-time">
                  <strong>{{ schedule.beginPeriod }}</strong>
                  <span>
                    <small>{{ schedule.endPeriod }}</small>
                    <i class="pi pi-clock waiting" style="font-size: 1.4em"></i>
                    <!-- <i class="pi pi-check confirmed" style="font-size: 1.4em"></i> -->
                    <!-- <i class="pi pi-calendar-times canceled" style="font-size: 1.2em"></i> -->
                  </span>
                </div>
                <div class="customer-name">
                  <div>
                    <label>Nome</label>
                    <p>{{ schedule.firstname + " " + schedule.lastname }}</p>
                  </div>
                </div>
                <div class="room-name">
                  <label>Sala</label>
                  <p>{{ schedule.name }}</p>
                </div>
                <div class="status">
                  <label>Status</label>
                  <p>{{ schedule.statusText }}</p>
                </div>
                <div class="amount">
                  <label>Valor</label>
                  <p>R$ {{ schedule.amount }}</p>
                </div>
                <div class="actions">
                  <label>Ações</label>
                  <a href="#" class="btn button-confirm btn-sm mr-3">
                    <i class="pi pi-check" style="font-size: 1.2em"></i>
                    Confirmar
                  </a>
                  <a href="#" class="btn button-cancel btn-sm">
                    <i class="pi pi-calendar-times" style="font-size: 1.2em"></i>
                    Cancelar
                  </a>
                </div>
                <button class="btn-toggle-details" (click)="toggleDetails($event)">
                  <i class="pi pi-chevron-down icon" style="font-size: 1.3em"></i>
                </button>
              </div>
              <div class="schedule__body d-none">
                <div class="info">
                  <div class="customer-data">
                    <div class="customer-contact">
                      <label>Contato</label>
                      <p>{{ schedule.phone }}</p>
                    </div>
                    <div class="customer-cpf">
                      <label>CPF</label>
                      <p>{{ schedule.cpf }}</p>
                    </div>
                  </div>
                  <div class="customer-comment">
                    <label>Observações</label>
                    <p>{{ schedule.comment }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!hasSchedules">
            <div class="schedules-message">
              <img src="./../../../../assets/images/found.svg">
              <p>{{ scheduleMessage }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
