<!-- menu provisório -->
<nav class="header-menu shadow-sm mb-5">
  <div class="container-fluid">
    <div class="header-menu__top">
      <a class="header-menu__logo" routerLink="/dashboard">
        <img src="../../../../assets/images/logo-studios_2x.png" alt="logo-studios">
      </a>
      <span>
        <a routerLink="/logout" class="btn btn-outline-danger btn-sm text-uppercase">Sair</a>
      </span>
    </div>
    <div class="header-menu__nav">
      <ul>
        <li>
          <a routerLink="/dashboard" routerLinkActive="active">Agendamentos</a>
        </li>
        <li>
          <a routerLink="/salas" routerLinkActive="active">Salas de Ensaio</a>
        </li>
        <li>
          <a routerLink="/configuracoes" routerLinkActive="active">Configurações</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="d-none d-xl-block col-xl-3">
      <div class="content-box content-calendar shadow-sm p-3">
        <div class="content-calendar__today">
          <h1>Ensaios Hoje</h1>
          <p>Não tem nenhum ensaio agendado para hoje!</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-9">
      <div class="content-box shadow-sm p-3">
        <div class="content-box__header">
          <h1>Agendamentos</h1>
        </div>
        <div class="content-box__info">
          <p>Hoje, 06 de Outubro de 2019</p>
        </div>
        <div class="content-box__body">
          <div class="alert alert-warning" *ngIf="!studioHasCityId">
            <p>Bem-vindo ao <strong><em>Studios</em></strong>,</p>
            <p>Você precisa atualizar os dados do seu estúdio para ser vistos pelos usuários.</p>
            <a routerLink="/configuracoes" class="btn btn-primary">Atualizar meus dados</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
