// Background Input
.background-input {
  margin-bottom: 0 !important;
  background: transparent !important;

  ion-item {
    --border-color: transparent !important;
    --highlight-height: 0;
    --background: transparent !important;
    --padding-start: 0 !important;
    --padding-end: 0 !important;
    --inner-padding-end: 0 !important;

    ion-label {
      color: #fff !important;
      font-weight: 400;
      font-size: 1rem!important;
    }

    ion-input {
      --color: --ion-color-dark;
      background: #fff;
      border-radius: 4px;
      --padding-start: 8px !important;
      --padding-end: 8px !important;
      --padding-top: 13px !important;
      --padding-bottom: 13px !important;
    }
  }
}

// Button
ion-button {
  --border-radius: 4px !important;
  --padding-start: 0 !important;
  --padding-end: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  text-transform: uppercase;
}