<ion-header>
  <ion-toolbar color="padrao">
    <ion-buttons slot="end">
        <ion-button id="btn-logout" (click)="presentAlert()" >
            <ion-icon name="power"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">
  <ion-card no-margin>
    <ion-card-content class="bg-profile">
      <img src="./assets/iconePerfil.png">
</ion-card-content>
    
  <div class="corpo">
      <ion-grid fixed no-padding>
          <ion-row>
            <ion-col size="12" padding>
              <form [formGroup]="customerForm" class="form-configuration mb-5">
                <ion-item>
                  <ion-label color="dark" position="stacked">FirstNome</ion-label>
                  <ion-input type="text" formControlName="firstname"></ion-input>
                  <div class="text-danger" *ngIf="customerForm.get('firstname').invalid && customerForm.get('firstname').touched">
                    <!--<div *ngIf="customerForm.get('firstname').errors.required">Este campo é obrigatório!</div>
                    <div *ngIf="customerForm.get('firstname').errors.minlength">Deve ter no mínimo 4 caracteres!</div>-->
                  </div>
                </ion-item>
                <ion-item>
                  <ion-label color="dark" position="stacked">LastNome</ion-label>
                  <ion-input type="text" formControlName="lastname"></ion-input>
                  <div class="text-danger" *ngIf="customerForm.get('lastname').invalid && customerForm.get('lastname').touched">
                    <!--<div *ngIf="customerForm.get('lastname').errors.required">Este campo é obrigatório!</div>
                    <div *ngIf="customerForm.get('lastname').errors.minlength">Deve ter no mínimo 4 caracteres!</div>-->
                  </div>
                </ion-item>
                <ion-item>
                  <ion-label color="dark" position="stacked">Phone</ion-label>
                  <ion-input type="text" formControlName="phone"></ion-input>
                  <div class="text-danger" *ngIf="customerForm.get('phone').invalid && customerForm.get('phone').touched">
                    <!--<div *ngIf="customerForm.get('phone').errors.required">Este campo é obrigatório!</div>
                    <div *ngIf="customerForm.get('phone').errors.minlength">Deve ter no mínimo 9 caracteres!</div>-->
                  </div>
                </ion-item>
                
                <ion-item>
                  <ion-label color="dark" position="stacked">Cpf</ion-label>
                  <ion-input type="text" formControlName="cpf"></ion-input>
                  <div class="text-danger" *ngIf="customerForm.get('cpf').invalid && customerForm.get('cpf').touched">
                    <!--<div *ngIf="customerForm.get('cpf').errors.required">Este campo é obrigatório!</div>
                    <div *ngIf="customerForm.get('cpf').errors.minlength">Deve ter no mínimo 11 caracteres!</div>-->
                  </div>
                </ion-item>
                
                <ion-item>
                  <ion-label color="dark" position="stacked">City</ion-label>
                  <ion-select formControlName="city_id">
                    <ion-select-option *ngFor="let city of cities" [value]="city.id">{{city.name}}</ion-select-option>
                  </ion-select>
                  <div class="text-danger" *ngIf="customerForm.get('city_id').invalid && customerForm.get('city_id').touched">
                    <!--<div *ngIf="customerForm.get('city_id').errors.required">Este campo é obrigatório!</div>-->
                  </div>
                </ion-item>
                
              </form>
            </ion-col>
          </ion-row>
        </ion-grid> <br>
        <ion-button (click)="updateForm()" color="padrao" shape="round" size="default" expand="block" class="button">
          Edit
        </ion-button>
  </div>
  </ion-card>
</ion-content>
