<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toBackRoomDetails()">
        <ion-icon name="arrow-back"></ion-icon>
        Voltar
      </ion-button>
    </ion-buttons>
    <ion-title>Agendamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- [ngStyle]="{'background-image': 'url('+image+')'}" -->
  <div class="room-cover" [ngStyle]="{'background-image': 'url(./assets/room-default.jpg)'}">
  </div>

  <div class="ion-padding">
    <div class="scheduling">
      <h1 class="scheduling__title">Agendar Ensaio</h1>
      
      <ion-label position="stacked">Sala Escolhida</ion-label>
      <h2 class="scheduling__room-name">{{ room.name }}</h2>
      <p class="scheduling__studio-name">{{ studio.name }}</p>
      <div class="scheduling__room-capacity">
        <ion-icon name="people"></ion-icon>
        <p>Comporta até {{ room.maximum_capacity }} pessoas</p>
      </div>
      
      <form [formGroup]="schedulingForm">
        <ion-input type="text" formControlName="date_scheduling" class="dateScheduling"></ion-input>
        
        <ion-label position="stacked">Selecionar Data</ion-label>
        <ion-datetime [min]="minDatetime" [max]="maxDatetime" value="{{ dateScheduling | date: 'yyyy-MM-dd' }}"
          displayFormat="DD MMMM YYYY" cancelText="Cancelar" doneText="Ok" (ionChange)="changeDateSchedule($event)"
          [monthNames]="monthNames">
        </ion-datetime>
        
        <ion-label position="stacked">Horários Disponíveis</ion-label>
        <ion-input type="text" formControlName="time_period_id" class="periodID"></ion-input>
          <div *ngIf="hasPeriods" >
            <div *ngFor="let period of periods" (click)="checkedTimePeriod(period.id)" data-id="{{period.id}}" class="card-period">
              <span class="card-period__time">
                <p>{{ period.beginPeriod }}</p>
                <small>às</small>
                <p>{{ period.endPeriod }}</p>
              </span>
              <span class="card-period__amount">
                <p>R$ {{ period.amount }}</p>
              </span>
              <span class="card-period__checkbox">
              
              </span>
            </div>
          </div>
          <div *ngIf="!hasPeriods">
            <div class="period-message">
              <img src="./../../assets/found.svg">
              <p>{{ messagePeriods }}</p>
            </div>
          </div>
        <div>
          <ion-label>Observações</ion-label>
          <ion-textarea formControlName="comment" rows="6" cols="20"></ion-textarea>
        </div>
        <ion-button expand="block" class="button" color="secondary" (click)="submitForm()" [disabled]="schedulingForm.invalid">
          Finalizar Agendamento
        </ion-button>
      </form>
      <!-- <pre>{{ schedulingForm.value | json }}</pre> -->
    </div>
  </div>

</ion-content>
