<!-- menu provisório -->
<nav class="header-menu shadow-sm mb-5">
  <div class="container-fluid">
    <div class="header-menu__top">
      <a class="header-menu__logo" routerLink="/dashboard">
        <img src="../../../../assets/images/logo-studios_2x.png" alt="logo-studios">
      </a>
      <span>
        <a routerLink="/logout" class="btn btn-outline-danger btn-sm text-uppercase">Sair</a>
      </span>
    </div>
    <div class="header-menu__nav">
      <ul>
        <li>
          <a routerLink="/dashboard" routerLinkActive="active">Agendamentos</a>
        </li>
        <li>
          <a routerLink="/salas" routerLinkActive="active">Salas de Ensaio</a>
        </li>
        <li>
          <a routerLink="/configuracoes" routerLinkActive="active">Configurações</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row ">
    <div class="d-none d-xl-block col-xl-3">
      <div class="content-box content-calendar shadow-sm p-3">
        <div class="content-calendar__today">
          <h1>Ensaios Hoje</h1>
          <p>Não tem nenhum ensaio agendado para hoje!</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-9">
      <div class="content-box shadow-sm p-3">
        <div class="content-box__header">
          <h1>Editando Período</h1>
          <span>
            <a routerLink="/salas" class="btn btn-light float-right">Voltar</a>
          </span>
        </div>
        <div class="content-box__info">
          <p>Mantenha os períodos de ensaio sempre atualizados.</p>
        </div>
        <div class="content-box__body">
          <form [formGroup]="periodForm" (submit)="submitForm()">
            <div class="form-row">
              <div class="form-group col-12 col-md-3 mb-4">
                <label for="day">Dia da semana</label>
                <select id="day" class="form-control" formControlName="day">
                  <option value="MondayToSaturday">Segunda a Sábado</option>
                  <option value="Monday">Segunda-feira</option>
                  <option value="Tuesday">Terça-feira</option>
                  <option value="Wednesday">Quarta-feira</option>
                  <option value="Thursday">Quinta-feira</option>
                  <option value="Friday">Sexta-feira</option>
                  <option value="Saturday">Sábado</option>
                  <option value="Sunday">Domingo</option>
                </select>
                <div class="text-danger" *ngIf="periodForm.get('day').invalid && periodForm.get('day').touched">
                  <div *ngIf="periodForm.get('day').errors.required">Este campo é obrigatório!</div>
                </div>
              </div>
              <div class="form-group col-12 col-md-3 mb-4">
                <label for="begin_period">Hora Inicial</label>
                <input type="text" class="form-control" id="begin_period" formControlName="begin_period">
                <div class="text-danger" *ngIf="periodForm.get('begin_period').invalid && periodForm.get('begin_period').touched">
                  <div *ngIf="periodForm.get('begin_period').errors.required">Este campo é obrigatório!</div>
                  <div *ngIf="periodForm.get('begin_period').errors.minlength">Deve ter no mínimo 8 caracteres!</div>
                </div>
              </div>
              <div class="form-group col-12 col-md-3 mb-4">
                <label for="end_period">Hora Final</label>
                <input type="text" class="form-control" id="end_period" formControlName="end_period">
                <div class="text-danger" *ngIf="periodForm.get('end_period').invalid && periodForm.get('end_period').touched">
                  <div *ngIf="periodForm.get('end_period').errors.required">Este campo é obrigatório!</div>
                  <div *ngIf="periodForm.get('end_period').errors.minlength">Deve ter no mínimo 8 caracteres!</div>
                </div>
              </div>
              <div class="form-group col-12 col-md-3 mb-4">
                <label for="amount">Valor</label>
                <input type="text" class="form-control" id="amount" formControlName="amount">
                <div class="text-danger" *ngIf="periodForm.get('amount').invalid && periodForm.get('amount').touched">
                  <div *ngIf="periodForm.get('amount').errors.required">Este campo é obrigatório!</div>
                  <div *ngIf="periodForm.get('amount').errors.minlength">Deve ter no mínimo 5 caracteres!</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-12 col-md-3 mb-5">
                <button class="btn btn-primary px-5 text-uppercase" type="submit"
                  [disabled]="submittingForm || periodForm.invalid">Salvar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

