ion-header {
  ion-button {
    text-transform: none !important;
  }
}

.room-cover {
  width: 100%;
  height: 170px;
  background-color: var(--ion-color-primary);
  background-position: center center;
  background-size: cover;
}

.room-details {
  margin-bottom: 1.5rem;

  small {
    font-size: 12px;
    font-weight: 700;
    color: #666;
    text-transform: uppercase;
  }

  &__name {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--ion-color-dark-tint);
    margin-top: 5px;
    margin-bottom: 0;
  }

  &__capacity {
    display: flex;
    align-items: center;

    ion-icon {
      font-size: 1.5rem;
      margin-right: .5rem;
      color: var(--ion-color-medium-shade);
    }

    p {
      font-size: 1rem;
    }
  }

  p {
    margin-bottom: .5rem;
    margin-top: .5rem;
    color: var(--ion-color-medium-shade);
  }

  &__description {
    margin-bottom: .6rem;

    p {
      line-height: 1.4;
    }
  }
}