<nav class="header-menu shadow-sm mb-5">
  <div class="container-fluid">
    <div class="header-menu__top">
      <a class="header-menu__logo" routerLink="/dashboard">
        <img src="../../../../assets/images/logo-studios_2x.png" alt="logo-studios">
      </a>
      <span>
        <a routerLink="/logout" class="btn btn-outline-danger btn-sm text-uppercase">Sair</a>
      </span>
    </div>
    <div class="header-menu__nav">
      <ul>
        <li>
          <a routerLink="/dashboard" routerLinkActive="active">Agendamentos</a>
        </li>
        <li>
          <a routerLink="/salas" routerLinkActive="active">Salas de Ensaio</a>
        </li>
        <li>
          <a routerLink="/configuracoes" routerLinkActive="active">Configurações</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
