<ion-header>
  <ion-toolbar>
      <div class="containerIcon">
          <div class="icon">
              <img src="/assets/icon/logo-studios_2x.png">
          </div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar placeholder="Buscar"></ion-searchbar>
  
  <ion-list>
    <ion-item *ngFor="let studio of studios; let i = index" (click)="chamarSala(i)">
      <ion-avatar item-start>
        <img src="./assets/studios.png">
      </ion-avatar>
      <ion-label>
        <h2>{{studio.name}}</h2>
        <h3>{{studio.created_at}}</h3>
        <p>description...</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>