<ion-header>
  <ion-toolbar>
      <div class="containerIcon">
          <div class="icon">
              <img src="/assets/icon/logo-studios_2x.png">
          </div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar placeholder="Buscar"></ion-searchbar>
  
  <!--*ngIf="city.id == null"-->
  <ion-card class="alert alert-warning" *ngIf="cityId == null">
    <p> Bem-vindo ao <strong><em>Studios</em></strong>,</p>
    <p> Você precisa atualizar os seus dados para ver os estudios da sua cidade.</p>
    <ion-button (click)="rotaAccount()">Atualizar meus dados</ion-button>
  </ion-card>
  <!--*ngIf="city.id != null"-->
  <ion-list *ngIf="cityId != null">
    <ion-item *ngFor="let studio of studios; let i = index" (click)="chamarSala(i)">
      <ion-avatar item-start>
        <img src="./assets/studios.png">
      </ion-avatar>
      <ion-label>
        <h2>{{studio.name}}</h2>
        <h3>{{studio.created_at}}</h3>
        <p>description...</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>