<ion-header class="ion-padding-top ion-padding-bottom">
  <ion-toolbar>
    <ion-title>
      <img src="/assets/icon/logo-studios_2x.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar *ngIf="cityId != null" placeholder="Buscar"></ion-searchbar>
  
  <ion-card class="ion-padding alert-message" *ngIf="cityId == null">
    <ion-img src="./assets/city.svg"></ion-img>
    <h3>Bem-vindo ao <strong>Studios</strong>,</h3>
    <p>Você precisa atualizar os seus dados para ver os melhores estudios da sua cidade.</p>
    <ion-button class="primary" expand="block" (click)="rotaAccount()">Atualizar meus dados</ion-button>
  </ion-card>

  <ion-list *ngIf="cityId != null">
    <ion-item *ngFor="let studio of studios; let i = index" (click)="chamarSala(i)">
      <ion-avatar item-start>
        <img src="./assets/studios.png">
      </ion-avatar>
      <ion-label>
        <h2>{{studio.name}}</h2>
        <h3>{{studio.created_at}}</h3>
        <p>description...</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>