<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="voltar()">
              <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
      </ion-buttons>
    <ion-title>{{room.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides paginationClickable=true
    initialSlide=0
    loop=true
    autoplay=1
    speed=2
    #mySlider>

    <ion-slide *ngFor="let item of salas">
        <img src="{{item.img}}">
    </ion-slide>
  </ion-slides>

  <div>
    <p >Room names: </p>{{room.name}}
    <p>Room description: </p>{{room.description}}
    <p>Room maximum capacity: </p>{{room.maximum_capacity}}
  </div>

    <ion-button (click)="rotaScheduling()" color="padrao" shape="round" size="default" expand="block" class="button">
        Ensaiar
    </ion-button>

</ion-content>
