<div class = "container">

<h2> Atualizar dados </h2>
<br>

    <div class="form-row">
            <div class="col-md-4">
                <label for="name">Nome do Estúdio</label>
                <input type="text" class="form-control" id="name" formControlName="name">
            </div>
        <br>
        <br>
        <div class="col-md-4">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" formControlName="email">
        </div>
        <br>
        
        <div class="col-md-4">
            <label for="prependedtext">Endereço</label>
            <input type="text" class="form-control" id="endereco" formControlName="endereco">
        </div>

        <div class="form-group col-md-4">
                <label for="name" >Telefone</label>
                <input type="text" class="form-control"> 
                
        </div>

        <div class="col-md-4">
                <label for="name">Descrição</label>
                <input type="text" class="form-control" id="descricao" formControlName="descricao">
        </div>

        <div class="col-md-4">
                <label for="name">CNPJ</label>
                <input type="text" class="form-control"  id="cnpj" formControlName="cnpj"  >
        </div>
       

    </div>
    <br>
    <div class = "form-row">
        <div class="col-xm-3">
            <button class="btn btn-primary" type="submit" >Confirmar</button>
        </div>

        <div class = "form-row">
            <div class="col-xm-3">
                <button class="btn btn-primary" type="submit" >Cancelar</button>
            </div>
        </div>

    


</div>