<ion-content>
  <div class="containerIcon">
    <div class="icon">
        <img src="/assets/logo-studios-white.png">
    </div>
  </div>

  <div class="formContainer">
    <form [formGroup]="formLogin">
    <ion-item class="ion-margin-top" lines="none">
      <ion-input type="email" class="form-control" id="email" formControlName="email" placeholder="E-mail"></ion-input>
      <div class="text-danger" *ngIf="formLogin.get('email').invalid && formLogin.get('email').touched">
        <!-- <div *ngIf="formLogin.get('email').errors.required">Este campo é obrigatório!</div>
        <div *ngIf="formLogin.get('email').errors.email">Endereço de e-mail inválido!</div> -->
      </div>
    </ion-item>

    <ion-item class="ion-margin-top" lines="none">
      <ion-input type="password" class="form-control" id="password" formControlName="password" placeholder="Password"></ion-input>
      <div class="text-danger" *ngIf="formLogin.get('password').invalid && formLogin.get('password').touched">
        <!--<div *ngIf="formLogin.get('password').errors.required">Este campo é obrigatório!</div>
        <div *ngIf="formLogin.get('password').errors.minlength">Senha inválida!</div> -->
      </div>
    </ion-item>
<!--(click)="rotaEntrar()"-->
    <ion-button class="botao-entrar" (click)="submitForm()" color="padrao" shape="round" size="default" expand="block" >Entrar</ion-button>
    <div class="cadastrar">
      <p>Ainda não tem uma conta? <a routerLink="/register" class="linkCadastro">Cadastre-se</a></p>
    </div>
  </form>
  </div>

</ion-content>