<ion-content>

  <div class="containerIcon">
    <div class="icon">
        <img src="/assets/icon/logo-studios_2x.png">
    </div>
  </div>

  <div class="formContainer">

    <ion-item class="ion-margin-top" lines="none">
      <ion-input type="email" placeholder="E-mail"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top" lines="none">
      <ion-input type="password" placeholder="Password"></ion-input>
    </ion-item>

    <ion-button class="botao-entrar" color="padrao" shape="round" size="default" expand="block" (click)="rotaEntrar()">Entrar</ion-button>
    <div class="cadastrar">
      <p>Ainda não tem uma conta? <a routerLink="/register" class="linkCadastro">Cadastre-se</a></p>
    </div>
  </div>

</ion-content>