<ion-content fullscreen>
  <ion-row class="ion-padding ion-align-items-center login">
    <ion-col size="12">
      <div class="login__logo">
        <img src="/assets/logo-studios-white.png">
      </div>
    </ion-col>
    <ion-col size="12">
      <form [formGroup]="formLogin" class="login__form">
        <ion-list class="background-input">
          <ion-item class="ion-margin-top" lines="none">
            <ion-label position="stacked">E-mail</ion-label>
            <ion-input type="email" id="email" formControlName="email"></ion-input>
            <div class="message-box" *ngIf="formLogin.get('email').invalid && formLogin.get('email').touched">
              <small *ngIf="formLogin.get('email').errors.required">Este campo é obrigatório!</small>
              <small *ngIf="formLogin.get('email').errors.email">Endereço de e-mail inválido!</small>
            </div>
          </ion-item>
          
          <ion-item class="ion-margin-top" lines="none">
            <ion-label position="stacked">Senha</ion-label>
            <ion-input type="password" id="password" formControlName="password">
            </ion-input>
            <div class="message-box" *ngIf="formLogin.get('password').invalid && formLogin.get('password').touched">
              <small *ngIf="formLogin.get('password').errors.required">Este campo é obrigatório!</small>
              <small *ngIf="formLogin.get('password').errors.minlength">A senha deve ter no mínimo 8 caracteres!</small>
            </div>
          </ion-item>
        </ion-list>
        <ion-button (click)="submitForm()" color="secondary button" expand="block">
          Entrar
        </ion-button>
      </form>
      <div class="login__register">
        <p>Ainda não tem uma conta?</p>
        <a routerLink="/register">Cadastre-se</a>
      </div>
    </ion-col>
  </ion-row>
</ion-content>