<!-- menu provisório -->
<nav class="header-menu shadow-sm mb-5">
  <div class="container-fluid">
    <div class="header-menu__top">
      <a class="header-menu__logo" routerLink="/dashboard">
        <img src="../../../../assets/images/logo-studios_2x.png" alt="logo-studios">
      </a>
      <span>
        <a routerLink="/logout" class="btn btn-outline-danger btn-sm text-uppercase">Sair</a>
      </span>
    </div>
    <div class="header-menu__nav">
      <ul>
        <li>
          <a routerLink="/dashboard" routerLinkActive="active">Agendamentos</a>
        </li>
        <li>
          <a routerLink="/salas" routerLinkActive="active">Salas de Ensaio</a>
        </li>
        <li>
          <a routerLink="/configuracoes" routerLinkActive="active">Configurações</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="d-none d-xl-block col-xl-3">
      <div class="content-box content-calendar shadow-sm p-3">
        <div class="content-calendar__today">
          <h1>Ensaios Hoje</h1>
          <p>Não tem nenhum ensaio agendado para hoje!</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-9">
      <div class="content-box shadow-sm p-3">
        <div class="content-box__header">
          <h1>{{ pageTitle }}</h1>
          <span>
            <a routerLink="/salas" class="btn btn-light float-right">
              <i class="pi pi-angle-left" style="font-size: 1.3em"></i>
              Voltar
            </a>
          </span>
        </div>
        <div class="content-box__info">
          <p>Mantenha as informações da sala sempre atualizadas.</p>
        </div>
        <div class="content-box__body">
          <div class="form-upload mb-4">
            <div class="form-group">
              <label>Fotografia da Sala</label>

              <div class="form-upload__preview mb-2" [ngStyle]="{'background-image': 'url('+previewUrl+')'}">
                <i *ngIf="!previewUrl" class="pi pi-image" style="font-size: 3em"></i>
              </div>

              <input type="file" accept="image/*" [ngStyle]="{'display': 'none'}" name="image" (change)="fileProgress($event)" #fileInput>

              <button type="button" class="btn btn-outline-primary btn-sm w-100" (click)="fileInput.click()">
                <i class="pi pi-upload" style="font-size: 1.5em"></i>
                Buscar imagem
              </button>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-sm ml-4 px-4" (click)="submitUploadImage()">
                <i class="pi pi-check" style="font-size: 1.5em"></i>
                Salvar imagem
              </button>
            </div>
          </div>
          <form [formGroup]="roomForm" (submit)="submitForm()">
            <div class="form-row">
              <div class="form-group col-12 col-md-6 mb-4">
                <label for="name">Nome da Sala</label>
                <input type="text" class="form-control" id="name" formControlName="name">
                <div class="text-danger" *ngIf="roomForm.get('name').invalid && roomForm.get('name').touched">
                  <div *ngIf="roomForm.get('name').errors.required">Este campo é obrigatório!</div>
                  <div *ngIf="roomForm.get('name').errors.minlength">Deve ter no mínimo 4 caracteres!</div>
                </div>
              </div>
              <div class="form-group col-12 col-md-2">
                <label for="maximum_capacity">Capac. máxima</label>
                <input type="text" [imask]="imaskNumber" class="form-control" id="maximum_capacity"
                  formControlName="maximum_capacity">
                <div class="text-danger"
                  *ngIf="roomForm.get('maximum_capacity').invalid && roomForm.get('maximum_capacity').touched">
                  <div *ngIf="roomForm.get('maximum_capacity').errors.required">Este campo é obrigatório!</div>
                  <div *ngIf="roomForm.get('maximum_capacity').errors.minlength">Deve ter no mínimo 4 caracteres!</div>
                </div>
              </div>
              <div class="form-group col-12 col-md-3">
                <label for="color" class="d-block">Cor de referência</label>
                <p-colorPicker [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" formControlName="color">
                </p-colorPicker>
                <div class="text-danger" *ngIf="roomForm.get('color').invalid && roomForm.get('color').touched">
                  <div *ngIf="roomForm.get('color').errors.required">Este campo é obrigatório!</div>
                  <div *ngIf="roomForm.get('color').errors.minlength">Deve ter no mínimo 4 caracteres!</div>
                </div>
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="form-group col-12 mb-4">
                <label for="description">Descrição</label>
                <textarea class="form-control" id="description" formControlName="description" id="description"
                  rows="5"></textarea>
                <div class="text-danger" *ngIf="roomForm.get('description').invalid && roomForm.get('description').touched">
                  <div *ngIf="roomForm.get('description').errors.required">Este campo é obrigatório!</div>
                  <div *ngIf="roomForm.get('description').errors.minlength">Deve ter no mínimo 20 caracteres!</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-12 col-md-3 mb-5">
                <button class="btn btn-primary px-5 text-uppercase" type="submit"
                  [disabled]="submittingForm || roomForm.invalid">Salvar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
