@import './../../../../styles.scss';

.form-upload {
  display: flex;
  align-items: flex-end;

  label {
    display: block;
  }

  button {
    justify-content: center;
  }

  &__preview {
    width: 170px;
    height: 150px;
    background-color: $gray-light;
    background-size: cover;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      color: $color-label;
    }
  }
}

.schedules-message {
  text-align: center;

  img {
    width: 250px;
  }

  p {
    margin: 1.5rem 0;
    color: $color-label;
    font-weight: 300;
  }
}
