.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  
  } 

  .infoStudio{
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 15px;
    //background-color: cadetblue;
    //opacity: 0;    
    button{
      background-color: #FE2E64;
      border-radius: 10px;
      color: #fff;
      margin-top: 10px;
    }
  }

  
  #linha {
    width: 100%;
    margin-top: 30px;
    margin-left: 15px;
    border-bottom: 2px solid #FE2E64;
    color: #FE2E64;
    font-weight: bold;
  }