<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toBackStudios()">
        <ion-icon name="arrow-back"></ion-icon>
        Voltar
      </ion-button>
    </ion-buttons>
    <ion-title>{{ studio.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="studio-cover">
    <div class="studio-cover__logo" [ngStyle]="{'background-image': 'url('+studio.logoStudio+')'}">
    </div>
  </div>
  <div class="ion-padding">
    <div class="studio-details">
      <h1 class="studio-details__name">{{ studio.name }}</h1>

      <span class="small-title">
        <small>Localização e Contato</small>
      </span>

      <div>
        <p>{{ studio.street }}, {{ studio.number }}</p>
        <p>{{ studio.district }}</p>
        <p>CEP: {{ studio.zip_code }}</p>
        <p *ngIf="studio.complement">{{ studio.complement }}</p>
        <p>{{ studio.telephone }} | {{ studio.phone }}</p>
      </div>

      <span class="small-title">
        <small>Sobre o Estúdio</small>
      </span>

      <div class="studio-details__description">
        <p>{{ studio.description }}</p>
      </div>

      <div class="studio-details__offers">
        <span *ngIf="studio.has_parking == 1">
          <ion-icon name="car"></ion-icon>
          <p>Estacionamento Grátis</p>
        </span>
        <span *ngIf="studio.has_wifi == 1">
          <ion-icon name="wifi"></ion-icon>
          <p>Wi-Fi Grátis</p>
        </span>
        <span *ngIf="studio.has_recording == 1">
          <ion-icon name="microphone"></ion-icon>
          <p>Gravação</p>
        </span>
        <span *ngIf="studio.has_mixing_mastering == 1">
          <ion-icon name="options"></ion-icon>
          <p>Mixagem e Masterização</p>
        </span>
        <span *ngIf="studio.is_24_hours == 1">
          <ion-icon name="time"></ion-icon>
          <p>Funciona 24 horas</p>
        </span>
      </div>

      <span class="small-title">
        <small>Salas de Ensaio</small>
      </span>

      <ion-list>
        <ion-item *ngFor="let room of rooms" (click)="goToRoomDetails(room)" lines="none">
          <ion-card class="studio-details__room">
            <div class="studio-details__room-cover" [ngStyle]="{'background-image': 'url('+room.imageRoom+')'}"> 
            </div>

            <ion-card-header>
              <ion-card-subtitle>Sala</ion-card-subtitle>
              <ion-card-title>{{ room.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-icon name="people"></ion-icon>
              <p>{{ room.maximum_capacity }} Pessoas</p>
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
