<ion-app>

  <ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="voltar()">
                <ion-icon name="arrow-back"></ion-icon>
              </ion-button>
        </ion-buttons>
        <div class='infoStudio' slot="end">
            <ion-card-subtitle>Street {{studio.street}}</ion-card-subtitle>
            <ion-card-title>{{studio.name}}</ion-card-title>
            <button  outline>Mais informações</button>
        </div>
    </ion-toolbar>
    
  </ion-header>

 

  <ion-content>
      <!--<ion-card class="infoStudio">
          <ion-card-header>
            <ion-card-subtitle>{{studio.street}}</ion-card-subtitle>
            <ion-card-title>{{studio.name}}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Mais informações...
          </ion-card-content>
      </ion-card>-->
      
      <div id="linha">
          <span>Salas disponíveis</span>
      </div>
      
      <ion-card *ngFor='let room of rooms'>
        <img src="./assets/imgRoom.jpg" />
        <ion-card-header>
          <ion-card-subtitle>{{room.description}}</ion-card-subtitle>
          <ion-card-title>{{room.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Capacidade da sala: {{room.maximum_capacity}} pessoas
        </ion-card-content>
      </ion-card>
    </ion-content>

</ion-app>



<!--<ion-content class="card-background-page">

  <ion-card *ngFor='let room of rooms'>
    <img src="https://br.habcdn.com/photos/project/medium/sala-de-gravacao-do-estudio-do-sesc-vila-mariana-852523.jpg"/> 
    <div class="card-title">{{room.name}}</div>
    <div class="card-subtitle">{{room.description}}</div>
  </ion-card>

</ion-content>*/-->
