<ion-header>

    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="voltar()">
                <ion-icon name="arrow-back"></ion-icon>
              </ion-button>
        </ion-buttons>
        <ion-title>Salas</ion-title>
    </ion-toolbar>
    
</ion-header>

<div class="capa">
    <img src="./assets/ml.jpg"/>
  
  <!--<div class='infoStudio'>
    <ion-card-subtitle>Street {{studio.street}}</ion-card-subtitle>
    <h2>{{studio.name}}</h2>
  </div>--> 
</div>

<div class="perfil">
  <img src="./assets/images.png"/>
</div>

<ion-content>
      <div id="linha">
        <span>Salas disponíveis</span>
      </div>
      
      <ion-card *ngFor='let room of rooms; let i = index' (click)="callInfoRooms(i)">
        <img src="./assets/imgRoom.jpg"/>
        <ion-card-header>
          <ion-card-subtitle><span>Sala:</span></ion-card-subtitle>
          <ion-card-title>{{room.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Capacidade da sala: {{room.maximum_capacity}} pessoas
        </ion-card-content>
      </ion-card>
</ion-content>





<!--<ion-content class="card-background-page">

  <ion-card *ngFor='let room of rooms'>
    <img src="https://br.habcdn.com/photos/project/medium/sala-de-gravacao-do-estudio-do-sesc-vila-mariana-852523.jpg"/> 
    <div class="card-title">{{room.name}}</div>
    <div class="card-subtitle">{{room.description}}</div>
  </ion-card>

</ion-content>*/-->
