<div class="login">
  <form class="login-form" [formGroup]="formLogin" (submit)="submitForm()">
    <div>
      <div class="login-form__logo">
        <img src="../../../../assets/images/logo-studios_2x.png" alt="logo-studios">
      </div>
      <div class="login-form__title">
        <h1>Entrar</h1>
        <small>Informe seu email e senha para entrar.</small>
      </div>
      <div class="form-group mb-4">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" id="email" formControlName="email">
        <div class="text-danger" *ngIf="formLogin.get('email').invalid && formLogin.get('email').touched">
          <small *ngIf="formLogin.get('email').errors.required">Este campo é obrigatório!</small>
          <small *ngIf="formLogin.get('email').errors.email">Endereço de e-mail inválido!</small>
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="password">Senha</label>
        <input type="password" class="form-control" id="password" formControlName="password">
        <div class="text-danger" *ngIf="formLogin.get('password').invalid && formLogin.get('password').touched">
          <small *ngIf="formLogin.get('password').errors.required">Este campo é obrigatório!</small>
          <small *ngIf="formLogin.get('password').errors.minlength">Senha inválida!</small>
        </div>
      </div>
      <div class="mb-5">
        <button class="btn btn-primary w-100 text-uppercase" type="submit"
          [disabled]="submittingForm || formLogin.invalid">Entrar</button>
      </div>
      <div class="login-form__register text-center">
        <p>Ainda não tem uma conta? <a routerLink="/cadastro" class="text-primary">Cadastre-se</a></p>
      </div>
    </div>
  </form>
</div>
