<ion-header>
  <ion-toolbar>
    <ion-title>
      Meus Agendamentos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div *ngIf="hasSchedules">
      <div class="schedule" *ngFor="let sched of schedules">
        <h2 class="schedule__date">{{ sched.schedulingDate }}</h2>
        <ion-card>
          <ion-label>sala</ion-label>
          <h2>{{ sched.room_name }}</h2>
          <small>{{ sched.studio_name }}</small>
          <hr>
          <span></span>
          <div class="schedule__time_amount">
            <div>
              <strong>{{ sched.beginPeriod }}</strong>
              <small>às</small>
              <strong>{{ sched.endPeriod }}</strong>
            </div>
            <div>
              <strong>R$ {{ sched.amountText }}</strong>
            </div>
          </div>
          <div class="schedule__status_action">
            <div>
              <ion-label>status</ion-label>
              <div class="schedule__status">
                <ion-icon name="time" class="icon waiting" *ngIf="sched.status == 0"></ion-icon>
                <ion-icon name="checkmark-circle" class="icon confirmed" *ngIf="sched.status == 1"></ion-icon>
                <ion-icon name="close-circle" class="icon canceled" *ngIf="sched.status == 2"></ion-icon>
                <p>{{ sched.statusText }}</p>
              </div>
            </div>
            <div>
              <ion-button (click)="onClick()" class="button" color="primary" size="small" *ngIf="sched.status != 2">
                Cancelar
              </ion-button>
              <div class="schedule__canceled" *ngIf="sched.status == 2">
                <ion-label>cancelamento</ion-label>
                <p>{{ sched.cancellationDate }}</p>
              </div>
            </div>
          </div>
        </ion-card>
      </div>
    </div>

    <div *ngIf="!hasSchedules">
      <div class="schedule-message">
        <img src="./../../assets/found.svg">
        <p>{{ schedulesMessage }}</p>
      </div>
    </div>
  </div>
</ion-content>