<ion-header>
  <ion-toolbar>
    <ion-title>
      Meus Agendamentos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div *ngIf="hasSchedules">
      <div class="schedule" *ngFor="let sched of schedules">
        <h2>{{ sched.schedulingDate }}</h2>
        <ion-card>
          <!-- <pre>{{ sched | json }}</pre> -->
          <ion-label>
            <hr>
            <h2>{{ "Status: " + sched.statusText }}</h2>
            <hr>
            <p>{{ "Comentário: " + sched.comment }}</p>
          </ion-label>
        </ion-card>
      </div>
    </div>

    <div *ngIf="!hasSchedules">
      <div class="schedule-message">
        <img src="./../../assets/found.svg">
        <p>{{ schedulesMessage }}</p>
      </div>
    </div>
  </div>
</ion-content>