<!-- menu provisório -->
<nav class="header-menu shadow-sm mb-5">
  <div class="container-fluid">
    <div class="header-menu__top">
      <a class="header-menu__logo" routerLink="/dashboard">
        <img src="../../../../assets/images/logo-studios_2x.png" alt="logo-studios">
      </a>
      <span>
        <a routerLink="/logout" class="btn btn-outline-danger btn-sm text-uppercase">Sair</a>
      </span>
    </div>
    <div class="header-menu__nav">
      <ul>
        <li>
          <a routerLink="/dashboard" routerLinkActive="active">Agendamentos</a>
        </li>
        <li>
          <a routerLink="/salas" routerLinkActive="active">Salas de Ensaio</a>
        </li>
        <li>
          <a routerLink="/configuracoes" routerLinkActive="active">Configurações</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="d-none d-xl-block col-xl-3">
      <div class="content-box content-calendar shadow-sm p-3">
        <div class="content-calendar__today">
          <h1>Ensaios Hoje</h1>
          <p>Não tem nenhum ensaio agendado para hoje!</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-9">
      <div class="content-box shadow-sm p-3">
        <div class="content-box__header">
          <h1>Salas de Ensaio</h1>
          <span>
            <a routerLink="new" class="btn btn-primary btn-sm">
              <i class="pi pi-plus" style="font-size: 1.2em"></i>
              Nova Sala
            </a>
          </span>
        </div>
        <div class="content-box__body">
          <table class="table">
            <thead>
              <th scope="col">Sala</th>
              <th scope="col">Descrição</th>
              <th scope="col">Cor</th>
              <th scope="col" class="text-center">Ações</th>
            </thead>
            <tbody>
              <tr *ngFor="let room of rooms">
                <td>
                  <p>{{ room.name }}</p>
                </td>
                <td class="td-description">
                  <p>{{ room.description }}</p>
                </td>
                <td>
                  <span class="block-color" [ngStyle]="{'background-color': room.color }"></span>
                </td>
                <td class="text-center">
                  <a (click)="goToPeriods(room)"
                    class="btn btn-outline-primary btn-sm mr-1 text-uppercase cursor-pointer">
                    <i class="pi pi-clock" style="font-size: 1.3em"></i>
                    Períodos
                  </a>
                  <a [routerLink]="[room.id, 'edit']" class="btn btn-outline-info btn-sm mr-1 ml-1 text-uppercase">
                    <i class="pi pi-pencil" style="font-size: 1.2em"></i>
                    Editar
                  </a>
                  <button (click)="deleteRoom(room)" class="btn btn-outline-danger btn-sm ml-1 text-uppercase">
                    <i class="pi pi-times" style="font-size: 1.2em"></i>
                    Excluir
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
