<!-- menu provisório -->
<nav class="header-menu shadow-sm mb-5">
  <div class="container-fluid">
    <div class="header-menu__top">
      <a class="header-menu__logo" routerLink="/dashboard">
        <img src="../../../../assets/images/logo-studios_2x.png" alt="logo-studios">
      </a>
      <span>
        <a routerLink="/logout" class="btn btn-outline-danger btn-sm text-uppercase">Sair</a>
      </span>
    </div>
    <div class="header-menu__nav">
      <ul>
        <li>
          <a routerLink="/dashboard" routerLinkActive="active">Agendamentos</a>
        </li>
        <li>
          <a routerLink="/salas" routerLinkActive="active">Salas de Ensaio</a>
        </li>
        <li>
          <a routerLink="/configuracoes" routerLinkActive="active">Configurações</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Salas de Ensaio</h1>
    <a routerLink="new" class="btn btn-primary btn-sm">+ Nova Sala</a>
  </div>
  <table class="table">
    <thead class="thead-dark">
      <th scope="col">Sala</th>
      <th scope="col">Descrição</th>
      <th scope="col">Capac. Máxima</th>
      <th scope="col">Cor</th>
      <th scope="col" class="text-center">Ações</th>
    </thead>
    <tbody>
      <tr *ngFor="let room of rooms">
        <td>{{ room.name }}</td>
        <td>{{ room.description }}</td>
        <td>{{ room.maximum_capacity }}</td>
        <td>
          <span class="block-color" [ngStyle]="{'background-color': room.color }"></span>
        </td>
        <td class="text-center">
          <a (click)="goToPeriods(room)" class="btn btn-outline-primary btn-sm mr-1 text-uppercase cursor-pointer">Períodos</a>
          <a [routerLink]="[room.id, 'edit']" class="btn btn-outline-info btn-sm mr-1 ml-1 text-uppercase">Editar</a>
          <button (click)="deleteRoom(room)" class="btn btn-outline-danger btn-sm ml-1 text-uppercase">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
