@import './../../../../styles.scss';

.table {
  .td-description p {
    max-width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.block-color {
  display: block;
  width: 50px;
  height: 31px;
  border-radius: 4px;
}


.schedules-message {
  text-align: center;

  img {
    width: 250px;
  }

  p {
    margin: 1.5rem 0;
    color: $color-label;
    font-weight: 300;
  }
}
