.containerIcon{
    width: 100%;
    .icon{
        height: 10px;
        width: 100px;
        margin-left: 5%;
        margin-bottom: 5%;
    } 
}

.formContainer{
    height: 100%;
    position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        width: 85%;
        margin: 0 auto;
}

.ion-margin-top{
    top:70%;
}

.button{
    margin-top: 30%;
}