ion-content {
  --background: url(./../../assets/bg-unsplash-crop.jpg) no-repeat center/cover !important;
}

.register {
  height: 100%;

  &__logo {
    text-align: center;
    img {
      width: 60%;
    }
  }

  &__form {
    ion-button {
      margin-top: 20px !important;
      margin-bottom: 20px !important;
    }
  }

  &__login {
    text-align: center;

    a {
      color: #fff;
      text-decoration: none !important;
      text-transform: uppercase;
      border: 1px solid;
      padding: 5px 10px;
      border-radius: 4px;
    }
  }
}