<!-- menu provisório -->
<nav class="header-menu shadow-sm mb-5">
  <div class="container-fluid">
    <div class="header-menu__top">
      <a class="header-menu__logo" routerLink="/dashboard">
        <img src="../../../../assets/images/logo-studios_2x.png" alt="logo-studios">
      </a>
      <span>
        <a routerLink="/logout" class="btn btn-outline-danger btn-sm text-uppercase">Sair</a>
      </span>
    </div>
    <div class="header-menu__nav">
      <ul>
        <li>
          <a routerLink="/dashboard" routerLinkActive="active">Agendamentos</a>
        </li>
        <li>
          <a routerLink="/salas" routerLinkActive="active">Salas de Ensaio</a>
        </li>
        <li>
          <a routerLink="/configuracoes" routerLinkActive="active">Configurações</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="d-none d-xl-block col-xl-3">
      <div class="content-box content-calendar shadow-sm p-3">
        <div class="content-calendar__today">
          <h1>Ensaios Hoje</h1>
          <p>Não tem nenhum ensaio agendado para hoje!</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-9">
      <div class="content-box shadow-sm p-3">
        <div class="content-box__header">
          <h1>Dados e Configurações do Estúdio</h1>
          <span>
            <a class="btn btn-light float-right" routerLink="/dashboard">
              <i class="pi pi-angle-left" style="font-size: 1.3em"></i>
              Voltar
            </a>
          </span>
        </div>
        <div class="content-box__info">
          <p>Mantenha as informações do seu estúdio sempre atualizadas.</p>
        </div>
        <div class="content-box__body">
          <div class="form-upload mb-4">
            <div class="form-group">
              <label>Logotipo do Estúdio</label>

              <div class="form-upload__preview mb-2" [ngStyle]="{'background-image': 'url('+previewUrl+')'}">
                <i *ngIf="!previewUrl" class="pi pi-image" style="font-size: 3em"></i>
              </div>

              <input type="file" accept="image/*" [ngStyle]="{'display': 'none'}" name="logostudio" (change)="fileProgress($event)" #fileInput>

              <button type="button" class="btn btn-outline-primary btn-sm w-100" (click)="fileInput.click()">
                <i class="pi pi-upload" style="font-size: 1.5em"></i>
                Buscar imagem
              </button>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-sm ml-4 px-4" (click)="submitUploadLogo()">
                <i class="pi pi-check" style="font-size: 1.5em"></i>
                Salvar imagem
              </button>
            </div>
          </div>
          <form [formGroup]="configForm" class="form-configuration mb-5" (submit)="submitForm()">
            <div class="form-row mb-4">
              <div class="form-group col-12 col-md-6">
                <label for="name">*Nome do Estúdio</label>
                <input type="text" class="form-control" id="name" formControlName="name">
                <div class="text-danger" *ngIf="configForm.get('name').invalid && configForm.get('name').touched">
                  <div *ngIf="configForm.get('name').errors.required">Este campo é obrigatório!</div>
                  <div *ngIf="configForm.get('name').errors.minlength">Deve ter no mínimo 4 caracteres!</div>
                </div>
              </div>
              <div class="form-group col-12 col-md-3">
                <label for="state">*Estado</label>
                <select id="state" class="form-control">
                  <option value="PE">Pernambuco</option>
                </select>
              </div>
              <div class="form-group col-12 col-md-3">
                <label for="city_id">*Cidade</label>
                <select id="city_id" class="form-control" formControlName="city_id">
                  <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
                </select>
                <div class="text-danger" *ngIf="configForm.get('city_id').invalid && configForm.get('city_id').touched">
                  <div *ngIf="configForm.get('city_id').errors.required">Este campo é obrigatório!</div>
                </div>
              </div>
            </div>
            <div class="form-row mb-4">
              <div class="form-group col-12 col-md-2">
                <label for="zip_code">*CEP</label>
                <input [imask]="imaskCEP" type="text" class="form-control" id="zip_code" formControlName="zip_code">
                <div class="text-danger" *ngIf="configForm.get('zip_code').invalid && configForm.get('zip_code').touched">
                  <div *ngIf="configForm.get('zip_code').errors.required">Este campo é obrigatório!</div>
                  <div *ngIf="configForm.get('zip_code').errors.minlength">Deve ter no mínimo 9 caracteres!</div>
                </div>
              </div>
              <div class="form-group col-12 col-md-8">
                <label for="street">*Endereço</label>
                <input type="text" class="form-control" id="street" formControlName="street">
                <div class="text-danger" *ngIf="configForm.get('street').invalid && configForm.get('street').touched">
                  <div *ngIf="configForm.get('street').errors.required">Este campo é obrigatório!</div>
                  <div *ngIf="configForm.get('street').errors.minlength">Deve ter no mínimo 10 caracteres!</div>
                </div>
              </div>
              <div class="form-group col-12 col-md-2">
                <label for="number">*Número</label>
                <input [imask]="imaskNumber" type="text" class="form-control" id="number" formControlName="number">
                <div class="text-danger" *ngIf="configForm.get('number').invalid && configForm.get('number').touched">
                  <div *ngIf="configForm.get('number').errors.required">Este campo é obrigatório!</div>
                  <div *ngIf="configForm.get('number').errors.minlength">Deve ter no mínimo 2 caracteres!</div>
                </div>
              </div>
            </div>
            <div class="form-row mb-4">
              <div class="form-group col-12 col-md-4">
                <label for="district">*Bairro</label>
                <input type="text" class="form-control" id="district" formControlName="district">
                <div class="text-danger" *ngIf="configForm.get('district').invalid && configForm.get('district').touched">
                  <div *ngIf="configForm.get('district').errors.required">Este campo é obrigatório!</div>
                  <div *ngIf="configForm.get('district').errors.minlength">Deve ter no mínimo 2 caracteres!</div>
                </div>
              </div>
              <div class="form-group col-12 col-md-8">
                <label for="complement">Complemento</label>
                <input type="text" class="form-control" id="complement" formControlName="complement">
              </div>
            </div>
            <div class="form-row mb-4">
              <div class="form-group col-12 col-md-3">
                <label for="telephone">Telefone</label>
                <input [imask]="imaskTelephone" type="text" id="telephone" class="form-control" formControlName="telephone">
              </div>
              <div class="form-group col-12 col-md-3">
                <label for="phone">Celular</label>
                <input [imask]="imaskPhone" type="text" id="phone" class="form-control" formControlName="phone">
              </div>
              <div class="form-group col-12 col-md-6">
                <label for="cnpj">CNPJ</label>
                <input [imask]="imaskCNPJ" type="text" class="form-control" id="cnpj" formControlName="cnpj">
              </div>
            </div>
            <div class="form-row mb-4">
              <div class="form-group col-6 col-md-2">
                <label for="estacionamento" class="d-block">*Estacionamento</label>
                <div class="btn-group">
                  <label (click)="configForm.get('has_parking').setValue(1)"
                    [class.active]="configForm.get('has_parking').value == 1"
                    class="btn btn-outline-info cursor-pointer px-4">
                    Sim
                  </label>
                  <label (click)="configForm.get('has_parking').setValue(0)"
                    [class.active]="configForm.get('has_parking').value == 0"
                    class="btn btn-outline-info cursor-pointer px-4">
                    Não
                  </label>
                </div>
                <div class="text-danger"
                  *ngIf="configForm.get('has_parking').invalid && configForm.get('has_parking').touched">
                  <div *ngIf="configForm.get('has_parking').errors.required">Este campo é obrigatório!</div>
                </div>
              </div>
              <div class="form-group col-6 col-md-2">
                <label for="wifi" class="d-block">*Wi-fi grátis</label>
                <div class="btn-group">
                  <label (click)="configForm.get('has_wifi').setValue(1)" [class.active]="configForm.get('has_wifi').value == 1"
                    class="btn btn-outline-info cursor-pointer px-4">
                    Sim
                  </label>
                  <label (click)="configForm.get('has_wifi').setValue(0)" [class.active]="configForm.get('has_wifi').value == 0"
                    class="btn btn-outline-info cursor-pointer px-4">
                    Não
                  </label>
                </div>
                <div class="text-danger" *ngIf="configForm.get('has_wifi').invalid && configForm.get('has_wifi').touched">
                  <div *ngIf="configForm.get('has_wifi').errors.required">Este campo é obrigatório!</div>
                </div>
              </div>
              <div class="form-group col-6 col-md-2">
                <label for="24horas" class="d-block">*Funciona 24 horas</label>
                <div class="btn-group">
                  <label (click)="configForm.get('is_24_hours').setValue(1)" [class.active]="configForm.get('is_24_hours').value == 1"
                    class="btn btn-outline-info cursor-pointer px-4">
                    Sim
                  </label>
                  <label (click)="configForm.get('is_24_hours').setValue(0)" [class.active]="configForm.get('is_24_hours').value == 0"
                    class="btn btn-outline-info cursor-pointer px-4">
                    Não
                  </label>
                </div>
                <div class="text-danger" *ngIf="configForm.get('is_24_hours').invalid && configForm.get('is_24_hours').touched">
                  <div *ngIf="configForm.get('is_24_hours').errors.required">Este campo é obrigatório!</div>
                </div>
              </div>
              <div class="form-group col-6 col-md-2">
                <label for="wifi" class="d-block">*Serviço de Gravação</label>
                <div class="btn-group">
                  <label (click)="configForm.get('has_recording').setValue(1)" [class.active]="configForm.get('has_recording').value == 1"
                    class="btn btn-outline-info cursor-pointer px-4">
                    Sim
                  </label>
                  <label (click)="configForm.get('has_recording').setValue(0)" [class.active]="configForm.get('has_recording').value == 0"
                    class="btn btn-outline-info cursor-pointer px-4">
                    Não
                  </label>
                </div>
                <div class="text-danger" *ngIf="configForm.get('has_recording').invalid && configForm.get('has_recording').touched">
                  <div *ngIf="configForm.get('has_recording').errors.required">Este campo é obrigatório!</div>
                </div>
              </div>
              <div class="form-group col-6 col-md-3">
                <label for="wifi" class="d-block">*Mixagem e Masterização</label>
                <div class="btn-group">
                  <label (click)="configForm.get('has_mixing_mastering').setValue(1)"
                    [class.active]="configForm.get('has_mixing_mastering').value == 1" class="btn btn-outline-info cursor-pointer px-4">
                    Sim
                  </label>
                  <label (click)="configForm.get('has_mixing_mastering').setValue(0)"
                    [class.active]="configForm.get('has_mixing_mastering').value == 0" class="btn btn-outline-info cursor-pointer px-4">
                    Não
                  </label>
                </div>
                <div class="text-danger" *ngIf="configForm.get('has_mixing_mastering').invalid && configForm.get('has_mixing_mastering').touched">
                  <div *ngIf="configForm.get('has_mixing_mastering').errors.required">Este campo é obrigatório!</div>
                </div>
              </div>
            </div>
            <div class="form-row mb-4">
              <div class="form-group col-12">
                <label for="description">*Descrição</label>
                <textarea id="description" formControlName="description" class="form-control" rows="5"></textarea>
                <div class="text-danger"
                  *ngIf="configForm.get('description').invalid && configForm.get('description').touched">
                  <div *ngIf="configForm.get('description').errors.required">Este campo é obrigatório!</div>
                  <div *ngIf="configForm.get('description').errors.minlength">Deve ter no mínimo 100 caracteres!</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-xm-3">
                <button class="btn btn-primary px-5" type="submit"
                  [disabled]="submittingForm || configForm.invalid">Salvar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
