<!-- menu provisório -->
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm mb-5">
  <div class="container">
    <a class="navbar-brand" routerLink="/dashboard">
      <img class="navbar__logo" src="../../../../assets/images/logo-studios_2x.png" alt="logo-studios">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Agendamentos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/salas">Salas de Ensaio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/configuracoes">Configurações</a>
        </li>
      </ul>
    </div>
    <a routerLink="/logout" class="btn btn-danger">SAIR</a>
  </div>
</nav>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="mb-5">
        <div>
          <h2 class="d-inline-block">Atualizar dados</h2>
          <a class="btn btn-light float-right" routerLink="/dashboard">Voltar</a>
        </div>
        <p>Mantenha as informações do seu estúdio sempre atualizadas.</p>
      </div>

      <form [formGroup]="configForm" class="form-configuration mb-5" (submit)="submitForm()">
        <div class="card">
          <div class="card-header">
            Informações sobre o Estúdio
          </div>
          <div class="card-body">
            <div class="form-row mb-4">
              <div class="form-group col-12 col-md-6">
                <label for="name">*Nome do Estúdio</label>
                <input type="text" class="form-control" id="name" formControlName="name">
                <div class="text-danger" *ngIf="configForm.get('name').invalid && configForm.get('name').touched">
                  <div *ngIf="configForm.get('name').errors.required">Este campo é obrigatório!</div>
                  <div *ngIf="configForm.get('name').errors.minlength">Deve ter no mínimo 4 caracteres!</div>
                </div>
              </div>
              <div class="form-group col-12 col-md-3">
                <label for="state">*Estado</label>
                <select id="state" class="form-control">
                  <option value="PE">Pernambuco</option>
                </select>
              </div>
              <div class="form-group col-12 col-md-3">
                <label for="city_id">*Cidade</label>
                <select id="city_id" class="form-control" formControlName="city_id">
                  <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
                </select>
                <div class="text-danger" *ngIf="configForm.get('city_id').invalid && configForm.get('city_id').touched">
                  <div *ngIf="configForm.get('city_id').errors.required">Este campo é obrigatório!</div>
                </div>
              </div>
            </div>
            <div class="form-row mb-4">
              <div class="form-group col-12 col-md-2">
                <label for="zip_code">*CEP</label>
                <input [imask]="imaskCEP" type="text" class="form-control" id="zip_code" formControlName="zip_code">
                <div class="text-danger" *ngIf="configForm.get('zip_code').invalid && configForm.get('zip_code').touched">
                  <div *ngIf="configForm.get('zip_code').errors.required">Este campo é obrigatório!</div>
                  <div *ngIf="configForm.get('zip_code').errors.minlength">Deve ter no mínimo 9 caracteres!</div>
                </div>
              </div>
              <div class="form-group col-12 col-md-8">
                <label for="street">*Endereço</label>
                <input type="text" class="form-control" id="street" formControlName="street">
                <div class="text-danger" *ngIf="configForm.get('street').invalid && configForm.get('street').touched">
                  <div *ngIf="configForm.get('street').errors.required">Este campo é obrigatório!</div>
                  <div *ngIf="configForm.get('street').errors.minlength">Deve ter no mínimo 10 caracteres!</div>
                </div>
              </div>
              <div class="form-group col-12 col-md-2">
                <label for="number">*Número</label>
                <input [imask]="imaskNumber" type="text" class="form-control" id="number" formControlName="number">
                <div class="text-danger" *ngIf="configForm.get('number').invalid && configForm.get('number').touched">
                  <div *ngIf="configForm.get('number').errors.required">Este campo é obrigatório!</div>
                  <div *ngIf="configForm.get('number').errors.minlength">Deve ter no mínimo 2 caracteres!</div>
                </div>
              </div>
            </div>
            <div class="form-row mb-4">
              <div class="form-group col-12 col-md-4">
                <label for="district">*Bairro</label>
                <input type="text" class="form-control" id="district" formControlName="district">
                <div class="text-danger" *ngIf="configForm.get('district').invalid && configForm.get('district').touched">
                  <div *ngIf="configForm.get('district').errors.required">Este campo é obrigatório!</div>
                  <div *ngIf="configForm.get('district').errors.minlength">Deve ter no mínimo 2 caracteres!</div>
                </div>
              </div>
              <div class="form-group col-12 col-md-8">
                <label for="complement">Complemento</label>
                <input type="text" class="form-control" id="complement" formControlName="complement">
              </div>
            </div>
            <div class="form-row mb-4">
              <div class="form-group col-12 col-md-3">
                <label for="telephone">Telefone</label>
                <input [imask]="imaskTelephone" type="text" id="telephone" class="form-control" formControlName="telephone">
              </div>
              <div class="form-group col-12 col-md-3">
                <label for="phone">Celular</label>
                <input [imask]="imaskPhone" type="text" id="phone" class="form-control" formControlName="phone">
              </div>
              <div class="form-group col-12 col-md-6">
                <label for="cnpj">CNPJ</label>
                <input [imask]="imaskCNPJ" type="text" class="form-control" id="cnpj" formControlName="cnpj">
              </div>
            </div>
            <div class="form-row mb-4">
              <div class="form-group col-6 col-md-3">
                <label for="estacionamento">*Possui Estacionamento</label>
                <div class="btn-group">
                  <label (click)="configForm.get('has_parking').setValue(1)" [class.active]="configForm.get('has_parking').value == 1" class="btn btn-outline-info cursor-pointer px-4">
                    Sim
                  </label>
                  <label (click)="configForm.get('has_parking').setValue(0)" [class.active]="configForm.get('has_parking').value == 0" class="btn btn-outline-info cursor-pointer px-4">
                    Não
                  </label>
                </div>
                <div class="text-danger" *ngIf="configForm.get('has_parking').invalid && configForm.get('has_parking').touched">
                  <div *ngIf="configForm.get('has_parking').errors.required">Este campo é obrigatório!</div>
                </div>
              </div>
              <div class="form-group col-6 col-md-3">
                <label for="24horas">*Funciona 24 horas</label>
                <div class="btn-group">
                  <label (click)="configForm.get('is_24_hours').setValue(1)" [class.active]="configForm.get('is_24_hours').value == 1" class="btn btn-outline-info cursor-pointer px-4">
                    Sim
                  </label>
                  <label (click)="configForm.get('is_24_hours').setValue(0)" [class.active]="configForm.get('is_24_hours').value == 0"  class="btn btn-outline-info cursor-pointer px-4">
                    Não
                  </label>
                </div>
                <div class="text-danger" *ngIf="configForm.get('is_24_hours').invalid && configForm.get('is_24_hours').touched">
                  <div *ngIf="configForm.get('is_24_hours').errors.required">Este campo é obrigatório!</div>
                </div>
              </div>
            </div>
            <div class="form-row mb-4">
              <div class="form-group col-12">
                <label for="description">*Descrição</label>
                <textarea id="description" formControlName="description" class="form-control" rows="5"></textarea>
                <div class="text-danger" *ngIf="configForm.get('description').invalid && configForm.get('description').touched">
                  <div *ngIf="configForm.get('description').errors.required">Este campo é obrigatório!</div>
                  <div *ngIf="configForm.get('description').errors.minlength">Deve ter no mínimo 100 caracteres!</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-xm-3">
                <button class="btn btn-primary px-5" type="submit" [disabled]="submittingForm || configForm.invalid">Salvar</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- <pre>{{ configForm.value | json }}</pre> -->
</div>
