<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <form class="form-configuration">
        <div class="form-row">
          <div class="col-12 mb-5">
            <h2> Atualizar dados </h2>
            <small>Mantenha as informações do seu estúdio sempre atualizadas.</small>
          </div>
        </div>
        <div class="form-row mb-4">
          <div class="col-12 col-md-6">
            <label for="name">Nome do Estúdio</label>
            <input type="text" class="form-control" id="name" formControlName="name">
          </div>
          <div class="col-12 col-md-3">
            <label for="name">Estado</label>
            <input type="text" class="form-control" id="name" formControlName="name">
          </div>
          <div class="col-12 col-md-3">
            <label for="name">Cidade</label>
            <input type="text" class="form-control" id="name" formControlName="name">
          </div>
        </div>
        <div class="form-row mb-4">
          <div class="col-12 col-md-6">
            <label for="prependedtext">Endereço</label>
            <input type="text" class="form-control" id="endereco" formControlName="endereco">
          </div>
          <div class="col-12 col-md-3">
            <label for="name">Telefone</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-12 col-md-3">
            <label for="name">Celular</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="form-row mb-4">
          <div class="col-12 col-md-6">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" formControlName="email">
          </div>
          <div class="col-12 col-md-6">
            <label for="name">CNPJ</label>
            <input type="text" class="form-control" id="cnpj" formControlName="cnpj">
          </div>
        </div>
        <div class="form-row mb-4">
          <div class="col-6 col-md-2 d-flex">
            <input type="checkbox" class="form-control" id="estacionamento" >
            <label for="estacionamento">Possui Estacionamento</label>
          </div>
          <div class="col-6 col-md-2 d-flex">
            <input type="checkbox" class="form-control" id="24horas">
            <label for="24horas">Funciona 24 horas</label>
          </div>
        </div>
        <div class="form-row mb-4">
          <div class="col-12">
            <label for="name">Descrição</label>
            <input type="text" class="form-control" id="descricao" formControlName="descricao">
          </div>
        </div>
        <div class="form-row">
          <div class="form-row">
            <div class="col-xm-3">
              <a class="btn btn-primary" routerLink="/">Cancelar</a>
            </div>
          </div>
          <div class="col-xm-3">
            <button class="btn btn-primary" type="submit">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
